@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Proza+Libre&display=swap');

:root{
  --cor-primaria: #757575;
  --cor-secundaria: #f8f9fd;
  --cor-terciaria: #0A5388;
  --cor-background: #fff;
}

a{
  cursor: pointer;
}

/*---------- produtos ----------*/
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  margin: 20px 10px 20px 10px;
}
.modal img{
  text-align: center;
}
.card h4{
  color: var(--cor-terciaria);
  font-size: 20px;
  margin-top: 20px;
}
.produto-descricao{
  color:var(--cor-primaria);
  font-size:16px;
}
.produto-preco{
  color: var(--cor-terciaria);
  font-size: 16px;
  font-weight: 400;
}
.produto-info{
  color: var(--cor-primaria);
  font-size: 18px;
  font-weight: 400;
}
.titulo h2{
  color: var(--cor-primaria);
  text-align: center;
  margin: 80px 0 80px 0;
}
.carousel-inner-css{
  padding-top: 50px;
}

/*---------- destaques ----------*/
.destaques {
  padding-top: 85px;
  padding-bottom: 85px;
}
.destaques h2{
color: var(--cor-primaria);
  text-align: center;
}
.destaques-conteudo{
  margin-top: 75px;
}
.single-destaques{
  margin-bottom:30px;
  text-align: center;
}
.single-destaques-txt{
  margin-top: 25px;
  text-align: center;
}
.single-destaques-txt h3{
  color: var(--cor-primaria);
  font-size: 20px;
}
.single-destaques-txt h5{
  color: var(--cor-terciaria);
  font-size: 15px;
}
.single-destaques-txt p i {
  color:  #efce4a;
  margin-left:  5px;
}
span.destaques-icon i {
  color:  #a9a9a9;
}
.destaques-review{
  color: var(--cor-terciaria);
  font-size: 14px;
}
.single-destaques-bg img{
  width:100%;
  height:auto;
}

/*---------- empresa ----------*/
#empresa {
  position: relative;
  z-index: 0;
}
.empresa{
  position: relative;
  display: flex;
  align-items: center;
  height: 600px;
  background-position: center;
  background-size: cover;
}
.empresa.bg1{
  background-image: url(../img/quemsomos.jpg);
  background-attachment: fixed;
}
.empresa:before,.empresa:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 33.4%;
  background: rgba(51,59,62,.95);
}
.empresa:after {
  background: rgba(106,119,129,.3);
  left: auto;
  right: 0;
  width: 66.6%;
}
.empresa-texto {
  position: relative;
  max-width: 596px;
  z-index: 1;
}
.empresa-texto h2 {
  font-size: 30px;
  color: var(--cor-secundaria);
  font-weight: 700;
}
.empresa-texto p {
  font-size: 16px;
  color: var(--cor-secundaria);
  font-weight: 500;
  margin: 25px 0 10px;
  text-align: justify;
}
.empresa-btn{
  height: 50px;
  margin-top: 15px;
  background-color: var(--cor-secundaria);
}

#foto{
  cursor: pointer;
}