:root{
    --cor-primaria: #757575;
    --cor-secundaria: #f8f9fd;
    --cor-terciaria: #0A5388;
    --cor-background: #fff;
}

/*---------- login ----------*/
.box-contato{
    margin: 80px 20px 80px 20px;
    display: flex;
    justify-content: center;
}
.box-contato p{
    color: var(--cor-primaria);
    font-size: 15px;
    margin-top: 25px;
}
.col-sm-6 h1{
    color: var(--cor-terciaria);
    font-size: 30px;
}
.box-contato  label{
    color: var(--cor-primaria);
    font-size: 15px;
}